p {
  max-width: 100%;
}

h4 {
  font-size: 1.5rem;
}

section {
  position: relative;
}

section h4 {
  font-weight: 700;
  margin: 16px 0;
}

section a {
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
}

.section-container {
  margin: auto 30px;
}

.section-box {
  background-color: #e9ecef;
  padding: 20px;
  margin-bottom: 20px;
}

.sub-section-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.subtitle {
  color: #8b8b8b;
  font-size: 0.8rem;
}

.member-content {
  display: flex;
  flex-direction: row;
}

.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #c0c0c0;
}

.member-info {
  margin-left: 20px;
}

.member-person {
  margin-left: 30px;
}

.section-past-meetups {
  margin: auto 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  .section-past-meetups {
    margin: auto 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
}
