h1 {
  margin-bottom: 40px;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.list-person {
  font-weight: 600;
  cursor: pointer;
  color: #f39222;
}

.mb-50 {
  margin-bottom: 50px;
}
